@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  overflow: auto;
  padding: 10px;
}

.title{
  text-align: center;
}

.paper{
  width: 100%;
  height: 100%;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border: none;
  padding: 20px;
  max-width: 210mm;
  align-self: center;
}

.paper:focus{
  outline: none;
}